@use "../styles/_mixin.scss" as *;
@use "../styles/_setting.scss" as *;

.category {
  & + .category {
    margin-top: 20px;
  }
}

.title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  @include sp {
    font-size: 20px;
  }
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  @include sp {
    font-size: 16px;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
  @include pc {
    flex-wrap: wrap;
  }
  @include sp {
    padding-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      height: 3px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--gray-light);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--gray-dark);
    }
  }
}
