@use "../styles/_mixin.scss" as *;
@use "../styles/_setting.scss" as *;

.category {
  & + .category {
    margin-top: 20px;
  }
}

.title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  @include sp {
    font-size: 20px;
  }
}

.subtitle {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  @include sp {
    font-size: 16px;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
  @include pc {
    flex-wrap: wrap;
  }
  @include sp {
    padding-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      height: 3px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--gray-light);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--gray-dark);
    }
  }
  .item {
    flex-shrink: 0;
  }
  a {
    display: block;
    transition: opacity 0.3s;
    box-shadow: 0px 0px 10px rgba($color: #333, $alpha: 0.3);
    &:hover {
      @include pc {
        opacity: 0.7;
      }
    }
  }
  img {
    height: 150px;
    width: auto;
    object-fit: cover;
  }
}
