@use "../styles/_mixin.scss" as *;
@use "../styles/_setting.scss" as *;

.l-detail {
  @include pc {
    background-color: var(--gray-light);
  }
}

.content {
  display: grid;
  gap: 20px;
  @include pc {
    grid-template-columns: 1.216fr 1fr;
  }
  @include sp {
    grid-template-columns: 1fr;
  }
}

.overall {
  display: flex;
  gap: 10px;
  background-color: var(--white);
  @include pc {
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid var(--gray-dark);
  }
}

.thumbnail {
  width: 90px;
  flex-shrink: 0;
}

.info {
  width: calc(100% - 100px);
}

.title {
  font-size: 16px;
  margin-bottom: 0.5em;
  line-height: 1.3;
}

.tag {
  background-color: var(--gray-light);
  min-width: 50px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  line-height: 1;
}

.detail {
  display: flex;
  gap: 10px;
  color: var(--gray);
  font-size: 12px;
  & + .detail {
    margin-top: 6px;
  }
}

.button-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.button {
  border: 1px solid var(--red);
  border-radius: 5px;
  color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition:
    color 0.3s,
    background-color 0.3s;
  font-size: 12px;
  line-height: 1;
  @include pc {
    height: 24px;
    padding: 0 30px;
  }
  @include sp {
    height: 22px;
    padding: 0 4px;
  }
  &.red {
    background-color: var(--red);
    color: var(--white);
    &:hover {
      @include pc {
        color: var(--red);
        background-color: var(--white);
      }
    }
  }
  &:hover {
    @include pc {
      color: var(--white);
      background-color: var(--red);
    }
  }
}

.icon-button-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @include sp {
    background-color: var(--gray-light);
    padding: 20px 10px;
    width: calc(100% + 20px);
    margin: 0 -10px;
  }
}
