.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 50px;
  height: 50px;
  border: 3px solid var(--red);
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin .8s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}
