@use "./styles/_mixin.scss" as *;
@use "./styles/_setting.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap");

/*------------------------------------------------------------------------------
  reset
------------------------------------------------------------------------------*/

html,
input,
textarea,
select,
button,
body {
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px;
}

html {
  background: #fff;
  font-size: 14px !important;
  line-height: 1.6;
  word-break: break-all;
  p {
    margin: 0;
  }
}

body {
  color: var(--black) !important;
  background: var(--white) !important;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  min-height: 0vw; /* Safari clamp関数対策 */
  word-break: normal !important;
  word-wrap: break-word;
}

img {
  border: 0;
  margin: 0;
  vertical-align: top;
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a {
  color: #222;
  text-decoration: none;
}

input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
textarea {
  @include sp {
    font-size: 16px !important;
  }
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

button {
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

main {
  display: block;
  position: relative;
  overflow: hidden;
}

.outer {
  padding: 20px 0;
  @include sp {
    min-width: 320px;
    padding: 10px 0;
  }
}

.inner {
  position: relative;
  margin: 0 auto;
  max-width: 1366px;
  padding: 0 30px;
  @include sp {
    padding: 0 10px;
  }
}

.inner-narrow {
  @extend .inner;
  max-width: 900px;
}

dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

.App {
  position: relative;
}

.bg-gray {
  background-color: var(--gray-light);
}

// color
:root {
  --black: #333;
  --white: #fff;
  --red: #ff223c;
  --gray: #777;
  --gray-light: #f2f2f2;
  --gray-dark: #ddd;
}
